@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Permanent+Marker&display=swap');
/* font-family: 'M PLUS Rounded 1c', sans-serif  -- Texto normal;
font-family: 'Permanent Marker', cursive;  -- Texto tiulos*/

@import url('https://css.gg/css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/* iconos */

/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

main {
    padding-top: 50px;
    margin-bottom: 40px;
}

section {
    height: calc(100vh - 50px);
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

/* Inicio navegacion */

.header {
    background-color: #ff9f43;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10000;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

#logo {
    font-size: 22px;
    margin: 0 0 0 30px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
    font-family: 'Permanent Marker', cursive;
}

.nav_link {
    color: white;
    text-decoration: none;
}

.nav_menu {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.nav_menu_item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav_menu_link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav_menu_link:hover {
    background-color: #feca57;
    transition: 1s;
    color: white;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 50px;
    display: none;
}

/* Final navegacion */

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #ff820e;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

.showcase {
    width: 100%;
    height: calc(100vh - 100px);
    background: url(../img/banner.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
    position: relative;
}

.showcase p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 50px 0 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.showcase h2 {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    line-height: 1.2;
}

.showcase .btn {
    margin-top: 20px;
}

footer {
    background-color: #ff9f43;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

footer p {
    line-height: 40px;
}

#nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nosotros div.contenedor-ns {
    width: 60%;
    color: #000;
    padding: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nosotros div.contenedor-ns aside {
    margin-left: 40px;
}

#nosotros div.contenedor-ns img {
    width: 300px;
    height: 400px;
    transform: rotate(-10deg);
    border: 42px solid #feca57;
    border-image-width: 1;
}

#nosotros div.contenedor-ns img.izquierda {
    float: left;
    margin-right: 15px;
}

.form {
    width: 400px;
    margin: auto;
    background: white;
    border-radius: 3px;
    margin-top: 5em;
    margin-bottom: 6em;
    padding: 1.25em;
}

h3 {
    font-size: 1.98em;
    margin-bottom: .8em;
    margin-top: .4em;
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
}

.btn-primary {
    box-shadow: 0;
    border: none;
    background-color: #ff820e;
    border-color: #ff820e;
    color: #ffffff;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all .5s;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    width: 30%;
    border-radius: 3px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 1.44em;
    margin-bottom: .55em;
    display: inherit;
}

.btn-primary:hover {
    background-color: #feca57;
}

.form-group {
    position: relative;
    opacity: 1;
    transition: .6s;
}

.input-field-icon {
    color: #bfc9ca;
    font-size: 18px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    transition: .6s;
}

.form-control {
    transition: opacity .6s;
    opacity: 1;
    border: 0;
    border-bottom: 2px solid #bdc3c7;
    border-radius: 0;
    background: white;
    font-size: 15px;
    line-height: 1.467;
    padding: 4px;
    height: 42px;
    -webkit-appearance: none;
}

input, textarea {
    transition: all 800ms;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    resize: none;
    /* removes the resize handle */
    overflow: auto;
    /* removes default scrolling bars in IE */
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 4px;
    color: #34495e;
    margin-top: 1.25em;
}

.has-error input, .has-error textarea {
    color: #e74c3c;
    border-color: #e74c3c;
}

.has-error .input-field-icon {
    color: #e74c3c;
}

.has-success input, .has-success textarea {
    color: #ff820e;
    border-color: #ff820e;
}

.has-success .input-field-icon {
    color: #ff820e;
}

input:focus, textarea:focus {
    border-color: #ff820e;
    color: #34495e;
}

input:focus+.input-field-icon {
    color: #34495e;
}

textarea.form-control {
    height: 120px;
    transition: .6s;
}

textarea.form-control:focus {
    height: 200px;
    border-color: #ff820e;
}



#pagenosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagenosotros div.p-n{
    width: 60%;
    color: #000;
    padding: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagenosotros div.p-n #contenidop-n{
    margin-left: 40px;
}

#pagenosotros div.p-n iframe{
    transform: rotate(-10deg);
}

#pagenosotros div.p-n h4{
    transform: rotate(-10deg);
    margin-right: 55px;
    margin-bottom: 10px;
}

#pagenosotros div.p-n p{
    background-color: #ff820e;
}

#pagenosotros div.p-n #contenidop-n #servicios{
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
}

#pagenosotros div.p-n #contenidop-n #servicios a{
    color: #fff;
}

@media(max-width: 1024px) {
    /* Inicio navegacion */
    .header {
        height: 60px;
    }
    #logo {
        margin: 5px 0 0 20px;
    }
    .nav_menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #ff9f43;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav_menu_link:hover {
        background: none;
        color: #222f3e;
    }
    .nav-toggle {
        display: block;
        margin-top: 8px;
    }
    .nav-menu_visible {
        left: 0;
    }
    /* Final navegacion */
    /* Generales */
    main {
        padding-top: 60px;
        margin-bottom: 40px;
    }
    section {
        height: calc(100vh - 60px);
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .showcase {
        height: calc(100vh - 110px);
    }
    .showcase::before {
        height: calc(200vh - 60px);
    }
    #nosotros div.contenedor-ns {
        width: 100%;
        height: calc(100vh - 90px);
        background: url(../img/img1.jpg) no-repeat center center/cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
    }
    #nosotros div.contenedor-ns aside {
        position: relative;
        font-size: 22px
    }
    #nosotros div.contenedor-ns img {
        display: none;
    }
    #nosotros div.contenedor-ns aside {
        margin-left: 0;
    }
    .form {
        width: 90%;
        margin-top: 12%;
    }

    #pagenosotros div.p-n iframe,
    #pagenosotros div.p-n h4{
        display: none;
    }

    #pagenosotros div.p-n #contenidop-n{
        margin-left: 0;
    }
}
